body {
    margin: 0;
}

.top {
    background-color: #000;
    height: 25vh;
}

.bottom {
    height: auto;
    border-top: 5px solid #00cc99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    position: relative;
}

.title {
    font-size: 70px;
    color: #fff;
}

.top-content {
    padding: 70px 0 0 150px;
}

/* Card content */

.card-form {
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-section-header {
    width: 100%;
    font-weight: bold;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-number-plate {
    margin: 10px 0;
    width: 230px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(255, 255, 0, 0.977);
}

.card-make {
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 10px;
}

.card-model {
    width: 250px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
}

.card-confirmation-message {
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.card-confirmation-buttons {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.card-icons {
    margin-left: auto;
    display: flex;
}

.card-view-history {
    cursor: pointer;
}

/**/
.car-details-header {
    width: 700px;
    background-color: #00cc99;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

.car-details-content {
    width: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.car-details-content-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 10px 0;
}

.car-details-content-header-icons {
    margin-left: auto;
    display: flex;
}

.car-details-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.car-details-listbox {
    border: 1px solid grey;
    width: 300px;
}