body {
    margin: 0;
}

.top {
    background-color: #000;
    height: 25vh;
}

.bottom {
    height: auto;
    min-height: 75vh;
    border-top: 5px solid #00cc99;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.title {
    font-size: 70px;
    color: #fff;
}

.top-content {
    padding: 70px 0 0 150px;
}